html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* global styles */

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background-color: #f6efff
}

.container {
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
}

/* Main Styles */

.flexContainer-1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.flexContainer-2 {
    height: 85%;
    max-height: 400px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 300px;
    /* border: 2px solid red; */
}

h1 {
    font-family: 'Potta One', sans-serif;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    color: #583d72;
    transition: all .5s ease;
}

button {
    display: flex;
    height: 60px;
    width: 180px;
    border: none;
    background-color: #967bb6;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-family: Arial;
    font-weight: 600;
    font-size: 5rem;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    transition: all .2s ease;
    /* box-shadow: 5px 6px 10px RGBA(0, 0, 0, .2); */
}

button:active {
    background-color: #664a88;
    box-shadow: inset 2px 2px 3px 3px #442b5b;
    user-select: none;
}

/* yin yang image */

img {
    width: 20%;
    animation: yinLoop 7s infinite linear;
    -webkit-animation: yinLoop 7s infinite linear;
}

/* random quotes */

.quoteStyle {
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    color: #ff8e71;
    line-height: 1.2;
}

.quoteDisplay {
    transition: all .5s ease;
}

/* bolding the authors name */

.bold {
    display: block;
    font-weight: 700;
    color: #f58634;
    transition: all .5s ease;
    padding-top: 10px;
}

/* secret pop up */

.secret {
    border: 2px solid rgba(255, 239, 62, 0.8);
    position: relative;
    width: 375px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: 'Source Code Pro', sans-serif;
    background: radial-gradient(circle, rgba(63, 94, 251, .8) 0%, rgba(252, 70, 107, .8) 100%);
    background-size: 300%;
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 500;
    animation: gradientAnim 5s ease infinite;
    -webkit-animation: gradientAnim 5s ease infinite;
}

.secret p {
    margin: 0;
    padding: 11px;
}

/* note at the bottom */

.note {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #cdbce4;
}

.pillar {
    color: #aa8cd2;
}

.mobileNote {
    display: none;
}

/* keyframe animations */

@keyframes yinLoop {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes yinLoop {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes gradientAnim {
    0% {
        background-position: right 10%;
    }
    25% {
        background-position: left 25%;
    }
    75% {
        background-position: center;
    }
    100% {
        background-position: right 10%;
    }
}

@-webkit-keyframes gradientAnim {
    0% {
        background-position: right 10%;
    }
    25% {
        background-position: left 25%;
    }
    75% {
        background-position: center;
    }
    100% {
        background-position: right 10%;
    }
}

/* media */

@media (max-height: 600px) {
    .note {
        opacity: 0%;
        transition: all .5s ease;
    }
    h1 {
        padding-top: 10px;
        font-size: 3.5rem;
    }
    .quoteDisplay {
        font-size: 1.5rem;
    }
    .bold {
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {
    button {
        position: absolute;
        transition: all .2s ease;
    }
    .flexContainer-2 {
        height: 85%;
        max-height: 600px;
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        /* border: 2px solid red; */
    }
    h1 {
        position: absolute;
        transition: all .2s ease;
    }
    .note {
        min-width: 300px;
        text-align: center;
    }
    .quoteDisplay {
        font-size: 1.8rem;
    }
    .bold {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    h1 {
        position: absolute;
        transition: all .2s ease;
        font-size: 3.5rem;
    }
    button {
        transition: all .2s ease;
    }
    .secret {
        width: 200px;
    }
    .note {
        display: none;
        text-align: center;
    }
    .quoteDisplay {
        font-size: 1.5rem;
    }
    .bold {
        font-size: 1.5rem;
    }
    .mobileNote {
        display: inline-block;
        font-size: 1.3rem;
        padding-bottom: 5px;
        padding-top: 10px;
        position: absolute;
        bottom: -10%;
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        color: #cdbce4;
        transition: all .5s ease;
    }
    .flexContainer-2 {
        min-width: 250px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 2.8rem;
    }
    .mobileNote {}
}